<div class="container">
  <h1>Creacion de personas</h1>

  <form>
    <div class="form-group">
      <label for="nombrePeronsa">Nombre Persona</label>
      <input
        name="nombre"
        #nombrePersona
        type="nombrePersona"
        class="form-control"
        id="nombrePeronsa"
        placeholder="Nombre Persona"
      />
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input
        name="telefono"
        #telefonoPersona
        type="telefono"
        class="form-control"
        id="telefono"
        placeholder="Telefono"
      />
    </div>
    <div class="form-group">
      <label for="direccion">Direccion</label>
      <input
        name="direccion"
        #direccionPersona
        type="direccion"
        class="form-control"
        id="direccion"
        placeholder="Direccion"
      />
    </div>
    <button
      class="btn btn-primary"
      (click)="crearPersona(nombrePersona, telefonoPersona, direccionPersona)"
    >
      Crear Usuario
    </button>
  </form>
</div>
