<!--
   ---- Funciona ------
  <div class="container">
    <h1>Creacion de personas</h1>

    <form >
      <div class="form-group">
        <label for="nombrePeronsa">Nombre Persona</label>
        <input
          name="nombre"
          #nombrePersona
          type="nombrePersona"
          class="form-control"
          id="nombrePeronsa"
          placeholder="Nombre Persona"
        />
      </div>
      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input
          name="telefono"
          #telefonoPersona
          type="telefono"
          class="form-control"
          id="telefono"
          placeholder="Telefono"
        />
      </div>
      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input
          name="direccion"
          #direccionPersona
          type="direccion"
          class="form-control"
          id="direccion"
          placeholder="Direccion"
        />
      </div>
      <button
        class="btn btn-primary"
        (click)="crearPersona(nombrePersona, telefonoPersona, direccionPersona)"
      >
        Crear Usuario
      </button>
    </form>
  </div>
-->



<!-- Esta funciona ome ome-->

<div class="container">
  <h1>Creacion de personas</h1>

  <form [formGroup]="personaForm" (ngSubmit)="onSubmit(personaForm)">
                    <div class="form-group">
                        <label for="nombrePersona">First Name</label>
                        <input type="text" class="form-control" name="nombrePersona" formControlName="nombrePersona" />
                        <div class="alert alert-danger" [hidden]="personaForm.controls.nombrePersona.valid">Name is required</div>
                    </div>
                    <div class="form-group">
                        <label for="telefonoPersona">First Name</label>
                        <input type="text" class="form-control" name="telefonoPersona" formControlName="telefonoPersona" />
                        <div class="alert alert-danger" [hidden]="personaForm.controls.telefonoPersona.valid">Tel is required</div>
                    </div>
                    <div class="form-group">
                        <label for="direccionPersona">First Name</label>
                        <input type="text" class="form-control" name="direccionPersona" formControlName="direccionPersona" />
                        <div class="alert alert-danger" [hidden]="personaForm.controls.direccionPersona.valid">Direccion is required</div>
                    </div>
                    <button type="submit" class="btn btn-default" [disabled]="!personaForm.valid">Submit</button> 
  </form>
</div>



<!-- main app container -->
<!--
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Angular 6 Template-Driven Form Validation</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->
