<div class="container wrapList">
  <h1>Lista de las personas</h1>
  <div class="wrap-search">
    <input
      (keyup)="buscarPersona($event)"
      type="text"
      placeholder="Buscar personas por nombre"
      required=""
    />
    <button type="submit"><i class="fa fa-times"></i></button>
  </div>

  <kendo-grid [data]="resultados" [height]="410">
      <kendo-grid-column field="id" title="ID" width="40"> </kendo-grid-column>
      <kendo-grid-column field="nombrePersona" title="Nombre" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="telefonoPersona" title="Telefono">
      </kendo-grid-column>
      <kendo-grid-column field="direccionPersona" title="Direccion" width="80">
      </kendo-grid-column>
    </kendo-grid>
</div>

<style>
  .wrapList {
    margin-top: 8%;
    padding-bottom: 9%;
  }
</style>
